.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 593px;
  left: 78px;
  position: absolute;
  top: 80px;
  width: 404px;
}

.form label {
  color: #3d495c;
  font-family: Verdana;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

#name-input {
  align-items: center;
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 25px;
  left: 50px;
  padding: 0;
  position: absolute;
  top: 0;
  width: 310px;
}

#description-input {
  height: 80px;
  width: 365px;
}

#attr1-input {
  background: #fff;
  border: 1px solid #29313d;
  border-radius: 2px;
  box-sizing: border-box;
  height: 30px;
  left: 60px;
  position: absolute;
  width: 275px;
}

#attr2-input {
  background: #fff;
  border: 1px solid #29313d;
  border-radius: 2px;
  box-sizing: border-box;
  height: 30px;
  left: 60px;
  position: absolute;
  width: 275px;
}

#attr3-input {
  background: #fff;
  border: 1px solid #29313d;
  border-radius: 2px;
  box-sizing: border-box;
  height: 30px;
  left: 60px;
  position: absolute;
  width: 275px;
}

#image-input {
  background: #fff;
  border: 1px solid #023031;
  border-radius: 2px;
  box-sizing: border-box;
  height: 30px;
  left: 60px;
  position: absolute;
  width: 275px;
}

#rare-input {
  background: #fff;
  height: 35px;
  left: 70px;
  position: absolute;
  width: 265px;
}

#trunfo-input {
  height: 15px;
  width: 20px;
}

#save-button {
  align-items: center;
  background: #2fc18c;
  border-radius: 2px;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0;
  gap: 10px;
  height: 40px;
  justify-content: center;
  order: 0;
  padding: 8px 32px;
  width: 115px;
}
